.profile-container {
    text-align: center;
    padding: 30px;
  }
  
 /*Nav Bar*/
 .navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.tab-buttons button {
  padding: 0.6rem 1.2rem;
  background-color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

.tab-buttons button.active {
  background-color: #333;
  color: white;
}

.tab-section {
  margin-top: 2rem;
}

.booking-card {
  background: #f8f8f8;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}
